%div{ :data => {:role => "content" }}
  %div(data-role="collapsible-set")

    %div(data-role="collapsible" id="c0")
      %h3 Edit Name ( #{@training_set.name} )

      =form_for @training_set, :id=>"update-tags" do |f|
        = f.text_field :name
        = f.submit
        

    %div(data-role="collapsible" id="c1")
      %h3 Add Words To List

      %div(id="word-add-view")

        %form{:action=>"#", :method=>"post", :onsubmit=>"return false"}
          %input{:type=>"text"}
      
      %div{:id=>"word-list-view"}

        %ul{:id=>"set_list",  :data => {:filter=>true, :role=> "listview", :inset=>'true' }}

    %div(data-role="collapsible" id="c2")
      %h3 Play


      %div{:id=>"word-play-view"}
        %ul{ :data => {:inset=>"true", :role=> "listview" }}
          %li(id="color-flash" data-role="list-divider")
            %a{:id=>"word-play-link", :href=>"#dict", 'data-rel'=>'dialog', "data-transition"=>"pop"}
            %span{:id=>"word-play-score"}
          %li.der
            %a der
          %li.die 
            %a die
          %li.das
            %a das

  :javascript
    window.googleAfmcRequest = {
      client: 'ca-mb-pub-2711385650775404',
      format: '320x50_mb',
      output: 'html',
      slotname: '9402521691',
    };
  %script(type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_afmc_ads.js")
            

  - content_for :page do
    %div(data-role='page' id='dict' data-rel='back' )
      %div(data-role='header' data-theme='d' data-position='inline' role='banner')
        %h1 Dictionary
        %a(href='#' data-icon='delete' data-iconpos='notext' title='Close' data-theme='d' data-transition='pop' data-rel="back")
      %div(data-role='content')
        %iframe(src='' width='100%' height='100%')

= content_for :javascript do
  = javascript_include_tag 'words'
  = javascript_include_tag 'jquery-ui.custom.min.js'
