!!! 5
%html
  %head
    %title Oh My Der Die Das
    = javascript_include_tag :defaults
    %link{:href => "http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css", :rel => "stylesheet"}/
    = javascript_include_tag 'jqm_config.js'
    %script{:src => "http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"}
    %script{:src =>"http://documentcloud.github.com/underscore/underscore-min.js"}
    %script{:src =>"http://documentcloud.github.com/backbone/backbone-min.js"}
    = javascript_include_tag 'backbone_rails3_config' #CSRF protection patch for backbone / rails3
    = javascript_include_tag 'words'
    = stylesheet_link_tag 'formtastic'
    = stylesheet_link_tag 'formtastic_changes'
    = csrf_meta_tag
  %body
    %div{:class => @page, "data-role" => "page"}

      -flash.each do |type, message|
        %div{:class => "#{type} ui-body ui-body-e"}=flash[type]


      %div(data-role="header")
        %div(data-role="navbar")
          %ul
            %li
              %a{:href=>training_sets_path}Sets
        
            %li
              -if user_signed_in?
                = link_to 'Sign Out', destroy_user_session_path
              -else
                = link_to 'Sign In', new_user_session_path

      %div{:id=>"messages", :class=>"ui-body ui-body-e"}
    
      = yield
