!!! 5
%html
  %head
    %title Oh My Der Die Das
    = include_stylesheets :workspace, :media => :all
    = include_javascripts :workspace
    = csrf_meta_tag
  %body
    %div{:class => @page, "data-role" => "page", :id => @page}

      -flash.each do |type, message|
        %div{:class => "#{type} ui-body ui-body-e"}=flash[type]


      %div(data-role="header")
        %div(data-role="navbar")
          %ul
            %li
              %a{:href=>training_sets_path}Sets
        
            %li
              -if user_signed_in?
                = link_to 'Sign Out', destroy_user_session_path
              -else
                = link_to 'Sign In', new_user_session_path

      %div{:id=>"messages", :class=>"ui-body ui-body-e"}
    
      = yield

    = yield :page
